# Note: this doesn't include tensorflow or tensorflow-gpu because the package you need to install
# depends on your platform. It is assumed you have already installed tensorflow.

librosa
tqdm
tensorflow == 1.x
protobuf
matplotlib


